@model WilliamRamirez_Examen1P.Models.WR_jugadores

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>WR_jugadores</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apellido" class="control-label"></label>
                <input asp-for="apellido" class="form-control" />
                <span asp-validation-for="apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="edad" class="control-label"></label>
                <input asp-for="edad" class="form-control" />
                <span asp-validation-for="edad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dorsal" class="control-label"></label>
                <input asp-for="dorsal" class="form-control" />
                <span asp-validation-for="dorsal" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="activo" /> @Html.DisplayNameFor(model => model.activo)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="fechaInscripcion" class="control-label"></label>
                <input asp-for="fechaInscripcion" class="form-control" />
                <span asp-validation-for="fechaInscripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sueldo" class="control-label"></label>
                <input asp-for="sueldo" class="form-control" />
                <span asp-validation-for="sueldo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
